.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.layout__open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

aside {
  position: relative;
  z-index: 2;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: clamp(200px, 100%, min(300px, calc(100% - 42px)));
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}

aside.__open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.toggle {
  display: none;
  position: absolute;
  top: 4px;
  left: calc(100% + 4px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    display: block;
  }
}
